.signin-wrapper h1  {
  padding: 40px 0 20pxx 0;
  clear: both;
}

.signin-wrapper {
  width: 500px;

}

.clearfix {
  width: 100%;
  text-align: center;
  margin-bottom:10px;
}

input, textarea{
  width: 97%;
  max-width: 400px;
  margin-right: 10px;
  font-size: 15px;
  background-color: rgb(232, 240, 254);
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 5px;
  border-bottom: 1px solid gray;
}

input{
  height: 40px;
}

.clearfix button {
  width: 70%;
  background-color: #1da1f2;
  border: 1px solid #1da1f2;
  color: #fff;;
  border-radius: 30px;
  box-shadow:0;
  cursor: pointer;
  height: 40px;
  font-size: 15px;
}


.clearfix-button {
  margin-top: 5px;
}
